body{
background-color:rgb(192,126,8);
}
.now{
background-color:rgb(58,96,178);
}
table{
border-color:rgb(59,56,56);
}
tr{
background-color:rgb(206,154,62);
}

h3::first-line{color:green;}

a:hover.normal{
background-color:rgb(58,96,178);
}
a:active.normal{
background-color:rgb(58,96,178);
}
#sub li:hover ul li a:hover {
background-color:rgb(58,96,178);
}