@charset "UTF-8";
@font-face {
font-family: 'BMDOHYEON'; 
src: local(BMDOHYEON),
     local(BMDOHYEON_ttf),
     url(BMDOHYEON_ttf.eot) format('eot'),
     url(BMDOHYEON_ttf.woff) format('woff'),
     url(BMDOHYEON_ttf.ttf) format('truetype');
}
body{
color:black;
font-family: "BMDOHYEON";
background-image:url("sitemap.png");
background-size:100%;
font-size:18px;
box-sizing:border-box;
text-align:center;
}
.logo{
text-align:center;
}
.home{
position:absolute;
top:20px;
left:20px;
float:left;
}
table{
text-align:center;
border-style:none;
border-color:rgb(255,192,0);
width:95%;
margin:5px 30px;
}
th{
height:35px;
background-color:rgb(127,127,127);
}
.second{
background-color:transparent;
}
.third{
height:5px;
background-color:rgb(127,127,127);
}
td{
width:17%;
}
.sub{
font-size:16px;
overflow:auto;
}
a{
font-family: "BMDOHYEON";
color:black;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover.normal{
background-color:#FFFFF0;
}
a:active.normal{
background-color:#FFFFF0;
}
a:hover.logo{
text-decoration:none;
}
a:active.logo{
text-decoration:none;
}

a.introduction{
text-align:center;
}
a:link.introduction{
text-decoration:none;
}
a:visited.introduction{
text-decoration:none;
}
a:hover.introduction{
text-decoration:italic;
color:rgb(46,117,182);
}
a:active.introduction{
text-decoration:italic;
color:rgb(46,117,182);
}
